$pokemon-text: 'Pokemon Solid', sans-serif;


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .App {
    text-align: center;

    h1 {
        font-family: $pokemon-text;
        letter-spacing: 4px;
        font-size: 50px;
    }

    .pokedex-page {
      background-color: rgb(175, 175, 175);
      padding-bottom: 20px;

      .poke-card {
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;

        .name-container {
          width: fit-content;
          text-align: left;
          margin-left: auto;
          margin-right: auto;

          p {
            margin: 0;
            color: rgb(147, 147, 147);
          }

          .pokemon-card-name {
            font-size: 30px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            color: black;
          }
        }
  
        img {
          max-height: 300px;
          width: auto;
          margin: 0px
        }
      }
    }

    #nav-bar {
      background-color: rgba(220, 26, 26, 0.916);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      position: fixed;
      width: 100vw;
      z-index: 100;


      a {
        text-decoration: none;
        color: inherit
      }
      span {
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 30px
      }

      ul {
        list-style: none;
        font-size: 18px;
        padding-left: 0;
        padding-right: 30px
      }
    }

    .page {
      padding-top: 100px;
    }

    .pokemon-page {
      background-color: rgb(247, 81, 66);
      height: 100vh;

      .pokemon-img-container {
        background-color: white;
        border-radius: 10px;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border: rgb(198, 198, 198) 10px solid;
        border-bottom: rgb(198, 198, 198) 35px solid;

        img {
          max-height: 300px;
          width: auto;
          margin: 0px;
          border-radius: 10px;
        }

        .pokemon-name {
          position: absolute;
          padding-top: 30px;
          bottom: 0;
          width: 100%;
          font-size: 40px;
          margin: 0;
          margin-bottom: 10px;
          color: rgb(86, 86, 86);
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
        }
      }

      .stat-container, .description {
        margin-top: 20px;
        background-color: rgb(198, 198, 198);
        border-radius: 10px;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: space-around;


          li {
            width: 20%;

            p {
              margin: 0
            }

            .stat-value {
              font-size: 20px;
            }
          }
        }
      }

      .description p {
        margin: 0;
      }

      .description { 
        background-color: white;
        
        p {
          max-width: 90%;
          margin: auto
        }
      }

      .evolutions {
        background-color: rgb(101, 101, 101);
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 20px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          color: white;
          display: flex;

          a {
            text-decoration: none;
            color: inherit;
          }
        }

        .current {
          color: gold
        }
      }
    }
  }
}
