$pokemon-text: 'Pokemon Solid', sans-serif;


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .App {
    text-align: center;

    h1 {
        font-family: $pokemon-text;
        letter-spacing: 4px;
        font-size: 50px;
    }

    .pokedex-page {
      background-color: rgb(175, 175, 175);
      padding-bottom: 20px;

      .poke-card {
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;

        .name-container {
          width: fit-content;
          text-align: left;
          margin-left: auto;
          margin-right: auto;

          p {
            margin: 0;
            color: rgb(147, 147, 147);
          }

          .pokemon-card-name {
            font-size: 30px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            color: black;
          }
        }
  
        img {
          max-height: 300px;
          width: auto;
          margin: 0px
        }
      }
    }

    #nav-bar {
      background-color: rgba(220, 26, 26, 0.916);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      position: fixed;
      width: 100vw;
      z-index: 100;


      a {
        text-decoration: none;
        color: inherit
      }
      span {
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 30px
      }

      ul {
        list-style: none;
        font-size: 18px;
        padding-left: 0;
        padding-right: 30px
      }
    }

    .page {
      padding-top: 100px;
    }

    .pokemon-page {
      background-color: rgb(247, 81, 66);
      height: fit-content;

      .pokemon-img-container {
        background-color: white;
        border-radius: 10px;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border: rgb(198, 198, 198) 10px solid;
        border-bottom: rgb(198, 198, 198) 35px solid;

        img {
          max-height: 300px;
          width: auto;
          margin: 0px;
          border-radius: 10px;
        }

        .pokemon-name {
          position: absolute;
          padding-top: 30px;
          bottom: 0;
          width: 100%;
          font-size: 40px;
          margin: 0;
          margin-bottom: 10px;
          color: rgb(86, 86, 86);
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
        }
      }

      .stat-container, .description {
        margin-top: 20px;
        background-color: rgb(198, 198, 198);
        border-radius: 10px;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: space-around;


          li {
            width: 20%;

            p {
              margin: 0
            }

            .stat-value {
              font-size: 20px;
            }
          }
        }
      }

      .description p {
        margin: 0;
      }

      .description { 
        background-color: white;
        
        p {
          max-width: 90%;
          margin: auto
        }
      }

      .attributes {
        background-color: white;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        text-align: left;
        

        .height-compare {
          height: 300px;
          width: auto;
          background-color: rgb(106, 106, 106);
          margin-top: 30px;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          border: solid 5px rgb(198, 198, 198);

          .compare-text {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgb(198, 198, 198);
            border-top-right-radius: 5px;
            z-index: 800;

            p {
              padding: 5px;
              margin: 0;
            }
          }

          .height-compare-inner {
            height: 90%;
            width: fit-content;
            display: flex;
            position: absolute;
            top: 5%;
            left: -50px;
            align-items: flex-end;
            line-height: 0%;
            gap: 1px

            img {
              width: auto;
              position: absolute;
            }

            .pokemon-height {
              bottom: 7px;
              right: 15px;
            }

            .trainer-height {
              bottom: 7px;
              left: 15px;
            }


          }

          .height-compare-inner-large {
            left: -70px;

            .trainer-height-large {
              bottom: 7px;
              left: -20px;
            }

            .pokemon-height-large {
              right: -15px;
              bottom: -20px
            }
          }
        }
      }

      .attacks {

        .attack-container { 
          background-color: white;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
          position: relaive;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 10px;
          
          ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: auto auto;

            li {
              background-color: rgb(171, 171, 171);
              border-radius: 5px;
              width: fit-content;
              padding: 5px;
              min-width: 70%;
              margin: 3px;
              text-align: center;
              white-space: nowrap;
              margin: auto;
              margin-top: 5px
            }
          }
        }
      }
      .evolutions {
        background-color: rgb(101, 101, 101);
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 20px;
        padding-bottom: 20px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          color: white;
          display: flex;
          justify-content: space-around;

          li {
            display: flex;
            flex-direction: column;
          }

          a {
            text-decoration: none;
            color: inherit;
          }
        }

        .current {
          color: gold
        }
      }

      .padding {
        height: 40px;
        width: 100vw;
      }

      .navigation-buttons {
        height: 50px;
        width: 100vw;
        background-color: black;
        display: flex;

        .id {
          width: 20%;
          height: 100%;
          font-size: 20px;
          color: white;
          border: solid 1px white;
          align-items: center;
          background: none;
        }

        .next, .prev {
          background: none;
          color: white;
          border: solid 1px white;
          height: 100%;
          width: 40%;
          font-size: 20px;
        }

        .next-one {
          width: 100%;
          height: 100%;
          color: white;
          background: none;
          border: white solid 1px;
          font-size: 20px;
        }
      }
    }
  }
}
