* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  position: fixed;
  z-index: 10;
  padding: 30px;
  max-width: 500px;
  margin: auto;

  .nav-items {
    font-size: 30px;
    color: white;
    span {
      vertical-align: top;
      font-size: 27px;
    }

    .pokemon-id {
      padding-left: 15px;
    }
  }
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background-color: rgb(130, 130, 137);
  text-align: center;

  .searchbar {
    position: relative;
    max-width: 400px;
    margin: auto;

    .icon {
      position: absolute;
      z-index: 10;
      bottom: 7px;
      left: 20px;
      font-size: 25px;
      color: grey;
    }
    input {
      position: relative;
      line-height: 50px;
      width: 100%;
      border: none;
      border-radius: 30px;
      margin-top: 30px;
      padding-left: 50px;
      font-size: 20px;
    }
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .homepage-inner {
    width: 100vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    overflow-x: hidden;
    padding: 30px;

    padding-top: 150px;
    text-align: left;
    color: white;

    h1 {
      margin: auto;
      width: 400px;
    }

    .lower {
      left: -50%;
      width: 200%;
      height: 50vh;
      border-radius: 50% 50% 0 0;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      padding-top: 50px;

      .button-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;

        .button {
          background-color: green;
          min-height: 65px;
          width: 90vw;
          margin: auto;
          padding: 20px 30px;
          font-size: 13px;
          color: white;
          display: flex;
          justify-content: space-between;
          border-radius: 30px;
          max-width: 400px;

          .button-icon {
            font-size: 20px;
          }
        }

        .locations {
          background-color: orange;
        }

        .moves {
          background-color: blue;
        }

        .favorites {
          background-color: red;
        }
      }
    }
  }

  .search-inner {
    width: 100vw;
    height: 100vh;
    background-color: rgb(180, 129, 129);
    padding: 30px;
    padding-top: 50px;
    position: relative;

    .mini-button-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 85%;
      gap: 10px;
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;
      max-height: 80vh;
      margin: auto;
      overflow: scroll;

      .mini-button {
        background-color: purple;
        color: white;
        height: 65px;
        width: 48%;
        margin: auto;
        font-size: 15px;
        border-radius: 35px;
        text-align: left;
        padding-left: 15px;
        display: flex;
        align-items: center;
        font-weight: lighter;
      }

      .dark-text {
        color: black;
      }
    
      .normal {
        background-color: grey;
      }
    
      .fire {
        background-color: orange;
      }
    
      .fighting {
        background-color: red;
      }
    
      .water {
        background-color: blue;
      }
    
      .flying {
        background-color: lavender;
      }
    
      .grass {
        background-color: green;
      }
    
      .poison {
        background-color: magenta;
      }
    
      .electric {
        background-color: yellow;
      }
    
      .ground {
        background-color: sandybrown;
      }
    
      .psychic {
        background-color: pink;
      }
    
      .rock {
        background-color: brown;
      }
    
      .ice {
        background-color: aqua;
      }
    
      .bug {
        background-color: limegreen;
      }
    
      .dragon {
        background-color: purple;
      }
    
      .ghost {
        background-color: blueviolet;
      }
    
      .dark {
        background-color: burlywood;
      }
    
      .steel {
        background-color: teal;
      }
    
      .fairy {
        background-color: lightpink;
      }
    
      .unkown {
        background-color: black;
      }
    
      .shadow {
        background-color: darkorchid;
      }
    }

    .mini-button-container::-webkit-scrollbar {
      display: none;
    }
  }

  .pokedex-inner {
    width: 100vw;
    height: 100vh;
    background-color: red;
    overflow-y: hidden;
    position: relative;
    padding: 30px;
    padding-top: 50px;

    .pokemon-list {
      position: absolute;
      bottom: 0;
      max-height: 80vh;
      width: 85%;
      margin: auto;
      overflow: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      padding-bottom: 30px;

      .pokedex-card {
        background-color: white;
        width: 48%;
        height: auto;
        padding: 15px;
        border-radius: 20px;

        .id {
          color: white;
          justify-content: right;
          width: 100%;
          display: flex;

          span {
            background-color: green;
            padding: 2px;
            width: 50px;
            border-radius: 20px;
          }
        }

          img {
            height: 90px;
            width: auto;
          }
        
      }
    }

    .pokemon-list::-webkit-scrollbar {
      display: none;
    }
  }

  .pokemon-inner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
    padding: 30px;

    padding-top: 150px;
    text-align: left;
    color: white;

    .upper {
      .img-container {
        width: 100vw;
        min-width: 300px;
        min-height: 350px;
        z-index: 25;
        position: absolute;
        margin: auto;
        left: 20px;
        right: 0;
        top: 80px;
        background-size: contain;
        background-repeat:no-repeat;

        .pokemon-type {
          position: absolute;
          bottom: -50px;
          left: -40px;
          right: 0;
          margin: auto;
          width: 130px;
          text-align: center;
          font-size: 20px;
          border: 2px solid rgb(188, 187, 187);
          border-radius: 25px;
          padding: 3px;
        }
      }
    }

    .lower {
      left: -50%;
      width: 200%;
      height: 70vh;
      border-radius: 50% 50% 0 0;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      padding-top: 50px;

      .navigate-buttons {
        margin: auto;
        margin-top: 80px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .left, .right {
          font-size: 15px;
          font-weight: bold;
          padding: 20px;
          border: none;
          border-radius: 50%;
          display: flex;
          min-height: 50px;
          align-items: center;
          z-index: 100000;
        }
      }

      .tab-content {
        width: 100vw;
        margin: auto;
        min-height: 50px;
        padding-top: 70px;

        .container {
        
          .tabs {
            display: flex;
            width: 80%;
            margin: auto;
            list-style: none;
            

            li {
              font-size: 20px;
              padding: 15px 10px;
              width: 33.33%;
              border: solid 2px grey;
              text-align: center;
            }

            li:first-child {
              border-radius: 25px 0px 0px 25px;
            }

            li:last-child {
              border-radius: 0px 25px 25px 0px;
            }
          }

          .display-container {
            min-height: 23vh;
            width: 90vw;
            margin: auto;
            margin-top: 15px;
            overflow-y: scroll;
            padding: 10px;

            .wrapper {
              width: 100%;
              margin: auto;
              display: flex;
              display: flex;
              flex-direction: column;
              gap: 7px;

              div {
                display: flex;
                
                .stat-name {
                  width: 10%
                }

                .progress-outter {
                  width: 80%;
                  background-color: grey;
                  margin: auto;
                  border-radius: 25px;
                  position: relative;

                  span {
                    position: absolute;
                    right: 10px;
                  }
  
                  .progress-bar {
                    min-height: 22px;
                    background-color: green;
                    text-align: right;
                    justify-content: right;
                    border-radius: 25px;
                  }
                }     
              }
            }

            .about-pokemon {
              padding-left: 20px;
              padding-right: 20px;

              .height-weight {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: auto;
                width: 100%;
                padding-top: 12px;

                .height, .weight, .strong {
                  h3 {
                    color: grey
                  }
                  display: flex;
                  justify-content: space-between;
                  width: 70%;
                }
              }
            }
          }
        }
        
      }

      .footer {
        background-color: red;
        width: 100vw;
        min-width: 100vw;
        margin: auto;
        min-height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        border-radius: 25px 25px 0px 0px;

        .footer-btn {
          width: 25%;
          background: none;
          border: none;
          font-size: 20px;
        }

        .red {
          color: red;
        }
      }
    }
  }

  .dark-text {
    color: black;
  }

  .normal {
    background-color: grey;
  }

  .normal-light {
    background-color: rgb(158, 158, 158);
  }

  .fire {
    background-color: orange;
  }

  .fire-light {
    background-color: rgb(251, 195, 90);
  }

  .fighting {
    background-color: red;
  }

  .fighting-light {
    background-color: rgb(246, 80, 80);
  }

  .water {
    background-color: blue;
  }

  .water-light {
    background-color: rgb(82, 82, 247);
  }

  .flying {
    background-color: lavender;
  }

  .flying-light {
    background-color: rgb(83, 83, 254);
  }

  .grass {
    background-color: green;
  }

  .grass-light {
    background-color: rgb(43, 164, 43);
  }

  .poison {
    background-color: magenta;
  }

  .poison-light {
    background-color: rgb(248, 87, 248);
  }

  .electric {
    background-color: yellow;
  }

  .electric-light {
    background-color: rgb(243, 243, 135);
  }

  .ground {
    background-color: sandybrown;
  }

  .ground-light {
    background-color: rgb(241, 196, 157);
  }

  .psychic {
    background-color: pink;
  }

  .psychic-light {
    background-color: rgb(250, 218, 223);
  }

  .rock {
    background-color: brown;
  }

  .rock-light {
    background-color: rgb(170, 72, 72);
  }


  .ice {
    background-color: aqua;
  }

  .ice-light {
    background-color: rgb(133, 233, 233);
  }

  .bug {
    background-color: limegreen;
  }

  .bug-light {
    background-color: rgb(106, 199, 106);
  }

  .dragon {
    background-color: purple;
  }

  .dragon-light {
    background-color: rgb(208, 15, 208);
  }

  .ghost {
    background-color: blueviolet;
  }

  .ghost-light {
    background-color: rgb(161, 99, 220);
  }


  .dark {
    background-color: burlywood;
  }

  .dark-light {
    background-color: rgb(227, 204, 173);
  }

  .steel {
    background-color: teal;
  }

  .steel-light {
    background-color: rgb(27, 188, 188);
  }

  .fairy {
    background-color: lightpink;
  }


  .fairy-light {
    background-color: rgb(246, 217, 222);
  }


  .unkown {
    background-color: black;
  }

  .unkown-light {
    background-color: rgb(49, 49, 49);
  }


  .shadow {
    background-color: darkorchid;
  }

  .shadow-light {
    background-color: rgb(173, 103, 208);
  }
}
