$red: rgb(254, 82, 82);
$green: rgb(141, 217, 141);
$orange: rgb(250, 188, 111);
$blue: rgb(185, 200, 255);
$background: rgb(235, 235, 235);
$fire: rgb(254, 177, 114);
$yellow: rgb(252, 223, 34);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0;
}

.App {
  max-width: 100svw;
  max-height: 100svh;
  position: fixed;
  inset: 0;
}

.nav {
  position: fixed;
  z-index: 100;
  padding: 30px;
  max-width: 500px;
  margin: auto;

  .white {
    color: white;
  }

  .nav-items {
    font-size: 24px;
    span {
      vertical-align: top;
      font-size: 22px;
      padding-left: 10px;
    }

    .pokemon-id {
      padding-left: 15px;
    }
  }
}

.page {
  min-height: 100svh;
  min-width: 100svw;
  max-height: 100svh;
  max-width: 100svw;
  text-align: center;
  background-color: $background;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .searchbar {
    position: relative;
    max-width: 400px;
    margin: auto;
    display: flex;

    .enter {
      position: absolute;
      z-index: 12000000;
      bottom: 7px;
      right: 20px;
      bottom: 3px;
      font-size: 22px;
      color: grey;
      border: none;
      background: none;
    }

    .icon {
      position: absolute;
      z-index: 10;
      bottom: 3px;
      left: 20px;
      font-size: 22px;
      color: grey;
    }
    input {
      position: relative;
      line-height: 40px;
      width: 100%;
      border: none;
      border-radius: 30px;
      margin-top: 30px;
      padding-left: 50px;
      font-size: 18px;
    }
  }

  .homepage-inner {
    width: 100svw;
    height: 100svh;
    background-color: $red;
    position: absolute;
    padding: 30px;
    padding-top: 120px;
    text-align: left;
    color: white;

    .home-image {
      position: absolute;
      width: 70svw;
      top: 50px;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 50%;
    }

    h1 {
      margin: auto;
      width: 400px;
      font-size: 30px;
      font-weight: 500;
      line-height: 45px;
      margin-bottom: -15px;
    }

    .lower {
      left: -50%;
      width: 200%;
      height: 50svh;
      border-radius: 50% 50% 0 0;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      padding-top: 35px;

      .button-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;

        .button {
          background-color: $green;
          width: 90svw;
          margin: auto;
          padding: 10px 30px;
          font-size: 13px;
          color: white;
          display: flex;
          font-weight: 300;
          justify-content: space-between;
          border-radius: 30px;
          max-width: 400px;
          box-shadow: rgba(0, 0, 0, 0.275) 0px 25px 20px -20px;

          .button-icon {
            font-size: 25px;
          }
        }

        .locations {
          background-color: $orange;
        }

        .moves {
          background-color: $blue;
        }

        .favorites {
          background-color: $red;
        }
      }
    }
  }

  .search-inner {
    width: 100svw;
    height: 100%;
    overflow: auto;
    padding: 30px;
    padding-top: 50px;

    .mini-button-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 95%;
      gap: 5px;
      padding-bottom: 30px;
      overflow-x: auto;
      top: 150px;
      height: fit-content;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;

      .mini-button {
        background-color: purple;
        color: white;
        height: 45px;
        width: 45%;
        margin: auto;
        font-size: 13px;
        border-radius: 35px;
        text-align: left;
        padding-left: 15px;
        display: flex;
        align-items: center;
        font-weight: lighter;
        margin-bottom: 7px;
        box-shadow: rgba(0, 0, 0, 0.275) 0px 25px 20px -20px;
        background-color: rgb(176, 176, 176);
        overflow: hidden;
        position: relative;

        img {
          max-height: 120%;
          max-width: 130px;
          position: absolute;
          right: -10px;
        }
      }

      .dark-text {
        color: black;
      }

      .unknown {
        display: none;
      }

      .shadow {
        display: none;
      }
    }
  }

  .pokedex-inner {
    width: 100svw;
    height: 100svh;
    position: relative;
    padding: 30px;
    padding-top: 50px;

    .pokemon-list {
      position: absolute;
      top: 200px;
      max-height: 80svh;
      min-height: fit-content;
      width: 85%;
      margin: auto;
      overflow: scroll !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      padding-bottom: 30px;

      .pokedex-card {
        background-color: white;
        width: 48%;
        height: auto;
        max-height: 170px;
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.275) 0px 25px 20px -20px;

        .id {
          color: white;
          justify-content: right;
          width: 100%;
          display: flex;

          span {
            padding: 2px;
            width: 50px;
            border-radius: 20px;
          }
        }

        img {
          height: 90px;
          width: auto;
        }
      }
    }

    .pokemon-list::-webkit-scrollbar {
      display: none;
    }
  }

  .pokemon-inner {
    width: 100svw;
    height: 100svh;
    position: absolute;
    overflow: hidden;
    text-align: left;

    .upper {
      position: relative;
      .img-container {
        width: 100svw;
        min-width: 100svw;
        height: auto;
        min-height: 350px;
        max-height: 380px;
        z-index: 25;
        position: absolute;
        top: 50px;
        margin: auto;
        left: 0;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;

        img {
          max-width: 80svw;
          min-width: 80svw;
          width: auto;
          position: absolute;
          left: 0;
          top: 20px;
          right: 0;
          margin: auto;
        }

        .gradient {
          min-height: 180%;
          width: 150svw;
          position: absolute;
          right: 0;
          top: -170px;
          left: -25svw;
          margin: auto;

          .circle {
            min-height: 85svw;
            min-width: 100svw;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 120px;
            margin: auto;

            div {
              max-height: 85svw;
              max-width: 85svw;
              min-height: 85svw;
              min-width: 85svw;
              margin: auto;
              background-image: url("./imgs/circle.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }

        .water-gradient {
          background: radial-gradient(circle closest-side, #6b83e0, #e0ba6300);
        }

        .fire-gradient {
          background: radial-gradient(circle closest-side, #f67456, #e0ba6300);
        }

        .grass-gradient {
          background: radial-gradient(circle closest-side, #5fed5f, #e0ba6300);
        }

        .bug-gradient {
          background: radial-gradient(circle closest-side, #3ac83a, #e0ba6300);
        }

        .normal-gradient {
          background: radial-gradient(circle closest-side, #939393, #e0ba6300);
        }

        .poison-gradient {
          background: radial-gradient(circle closest-side, #a949bc, #e0ba6300);
        }

        .electric-gradient {
          background: radial-gradient(circle closest-side, #eeda2d, #e0ba6300);
        }

        .ground-gradient {
          background: radial-gradient(circle closest-side, #cb8e09, #e0ba6300);
        }

        .fairy-gradient {
          background: radial-gradient(circle closest-side, #ec5c9d, #e0ba6300);
        }

        .fighting-gradient {
          background: radial-gradient(circle closest-side, #f52b2b, #e0ba6300);
        }

        .psychic-gradient {
          background: radial-gradient(circle closest-side, #f73eb0, #e0ba6300);
        }

        .rock-gradient {
          background: radial-gradient(circle closest-side, #99842f, #e0ba6300);
        }

        .ghost-gradient {
          background: radial-gradient(circle closest-side, #7532ac, #e0ba6300);
        }

        .ice-gradient {
          background: radial-gradient(circle closest-side, #40aebc, #e0ba6300);
        }

        .dragon-gradient {
          background: radial-gradient(circle closest-side, #8040bc, #e0ba6300);
        }

        .dark-gradient {
          background: radial-gradient(circle closest-side, #9a835d, #e0ba6300);
        }

        .steel-gradient {
          background: radial-gradient(circle closest-side, #0bbc90, #e0ba6300);
        }

        .pokemon-type {
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
          width: 100px;
          text-align: center;
          font-size: 16px;
          border: 2px solid rgb(255, 255, 255);
          border-radius: 25px;
          padding: 2px;
        }
      }
    }

    .lower {
      left: -50%;
      width: 200%;
      height: 70svh;
      border-radius: 50% 50% 0 0;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      padding-top: 50px;

      .navigate-buttons {
        margin: auto;
        margin-top: 70px;
        width: 100svw;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .left,
        .right {
          font-size: 15px;
          font-weight: bold;
          padding: 15px;
          border: none;
          border-radius: 50%;
          display: flex;
          min-height: 40px;
          align-items: center;
          z-index: 100000;
          background-color: white;
        }
      }

      .tab-content {
        width: 100svw;
        margin: auto;
        min-height: 50px;
        padding-top: 60px;

        .container {
          .tabs {
            display: flex;
            width: 80%;
            margin: auto;
            list-style: none;
            position: relative;
            z-index: 5000000;

            li {
              font-size: 14px;
              padding: 5px 10px;
              width: 33.33%;
              border: solid 1px rgb(255, 255, 255);
              text-align: center;
            }

            li:first-child {
              border-radius: 25px 0px 0px 25px;
            }

            li:last-child {
              border-radius: 0px 25px 25px 0px;
            }
          }

          .display-container {
            width: 90svw;
            margin: auto;
            margin-top: 15px;
            overflow-y: scroll;
            padding: 10px;
            margin-top: -5px;

            .wrapper {
              width: 100%;
              margin: auto;
              display: flex;
              display: flex;
              flex-direction: column;
              gap: 3px;
              overflow-y: scroll;
              min-height: 25svh;
              max-height: 25svh;

              div {
                display: flex;

                .stat-name {
                  width: 10%;
                  font-size: 14px;
                }

                .progress-outter {
                  width: 80%;
                  background-color: rgb(236, 236, 236);
                  margin: auto;
                  border-radius: 25px;
                  position: relative;

                  span {
                    position: absolute;
                    right: 10px;
                    font-size: 12px;
                  }

                  .progress-bar {
                    min-height: 17px;
                    text-align: right;
                    justify-content: right;
                    border-radius: 25px;
                  }

                  .hp {
                    background-color: $red;
                  }

                  .attack {
                    background-color: $orange;
                  }

                  .defense {
                    background-color: $yellow;
                  }

                  .special-attack {
                    background-color: $blue;
                  }

                  .special-defense {
                    background-color: $green;
                  }

                  .speed {
                    background-color: pink;
                  }
                }
              }
            }

            // .wrapper::-webkit-scrollbar {
            //   display: none;
            // }

            .about-pokemon {
              padding-left: 20px;
              padding-right: 0px;
              max-height: 20px;
              overflow: hidden;

              .pokemon-about-me-desc {
                font-size: 12px;
                max-height: fit-content;
                margin-bottom: -15px;
              }

              .height-weight {
                display: flex;
                flex-direction: column;
                gap: 1px;
                margin: auto;
                width: 130%;

                .height,
                .weight,
                .strong {
                  h3 {
                    color: rgb(192, 192, 192);
                  }
                  display: flex;
                  justify-content: space-between;
                  width: 70%;
                  font-size: 15px;
                }

                .strong {
                  flex-wrap: wrap;
                  max-width: fit-content;

                  .strength-icon {
                    margin-left: 6px;
                    max-height: 25px;
                    max-width: 25px;
                    padding: 3px;
                    margin-left: 10px;
                    border-radius: 50%;
                    justify-content: center;

                    img {
                      height: 100%;
                      width: 100%;
                    }
                  }

                  .strength-icon:first-of-type {
                    margin-left: 20px;
                  }
                }
              }
            }

            .moves {
              display: flex;
              flex-direction: row;
              gap: 0;
              justify-content: space-around;

              .attack-card {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                min-width: 150px;
                padding: 10px;
                text-align: center;
                height: 100%;

                h3 {
                  font-size: 15px;
                  color: grey;
                }
                // background-color: yellow;

                .attack-types,
                .attack-stats {
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  .stat-headers,
                  .stat-values {
                    display: flex;
                    justify-content: space-between;
                    font-size: 15px;
                    margin-bottom: 5px;
                  }

                  .stat-headers {
                    font-size: 14px;
                    color: grey;
                  }

                  .attack-type {
                    text-align: center;
                    width: 80px;
                    padding: 3px;
                    border: solid 1px white;
                    margin: auto;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    border-radius: 25px;
                    font-size: 12px;
                  }
                }
              }

              .right {
                .attack-card {
                  border-left: grey solid 2px;
                  padding-left: 22px;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }

      .footer {
        width: 100svw;
        min-width: 100svw;
        margin: auto;
        min-height: 60px;
        height: calc(100svh + 60px);
        background-color: white;
        z-index: 10000000;
        position: fixed;
        background-color: rgb(0, 128, 107);
        top: -60px;
        left: 0;
        right: 0;
        border-radius: 25px 25px 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.237) 0 0 20px;
        border-collapse: collapse;

        .button-container {
          // background-color: pink;
          height: 60px;
          width: 100%;
          padding: 20px;

          .footer-btn {
            width: 25%;
            background: none;
            border: none;
            font-size: 20px;
            margin: auto;

            img {
              width: 35px;
            }
          }

          .red {
            color: red;
          }
        }

        .small {
          top: 0px;
        }

        .small-inner {
          height: 100%;
          width: 100%;
          min-height: 300px;
          margin: auto;
          min-height: 100%;

          .back-nav {
            padding: 30px;
            font-size: 30px;
            color: black;

            span {
              font-size: 27px;
              vertical-align: top;
            }
          }
        }

        .evolution-chain-container,
        .location-info {
          z-index: 50000000;
          color: black;
          margin: auto;
          padding-top: 30px;
          position: relative;
          font-size: 30px;
          width: 200%;
          position: absolute;
          left: -50%;
          height: 90%;
          min-height: 90svh;
          border-radius: 50% 50% 0 0;
          justify-content: center;
          text-align: center;
          background-color: white;

          h1 {
            font-size: 20px;
          }

          .evo-pokemon {
            h2 {
              font-size: 16px;
            }

            img {
              height: 80px;
            }

            .type {
              margin: auto;
              width: 60px;
              text-align: center;
              font-size: 10px;
              border: 1px solid rgb(188, 187, 187);
              border-radius: 25px;
              padding: 3px;
            }

            span {
              font-size: 20px;
            }
          }
        }
        .location-info {
          overflow-y: scroll;
          padding-bottom: 150px;

          .generation-footer {
            background-color: grey;
            min-height: 2px;
            width: 80svw;
            margin: auto;
            margin-top: 40px;
          }

          .nope {
            margin-top: 30px;
            font-size: 20px;
          }

          .generation {
            text-align: left;
            max-width: 100svw;
            margin: auto;

            h3 {
              padding-left: 30px;
              font-size: 18px;
              margin-top: 40px;
            }

            .location-container {
              display: flex;
              flex-direction: column;
              max-width: 100svw;
              margin: auto;
              padding: 10px 30px;
              justify-content: left;

              .game-name {
                max-width: 110px;
                font-size: 16px;
                padding: 3px 7px;
                color: white;
                border-radius: 25px;
                margin-bottom: 15px;
                text-align: center;
              }

              .red {
                background-color: red;
              }

              .blue {
                background-color: blue;
              }

              .yellow {
                background-color: yellow;
                color: black;
              }

              .gold {
                background-color: gold;
              }

              .silver {
                background-color: silver;
                color: black;
              }

              .crystal {
                background-color: aqua;
                color: black;
              }

              .ruby {
                background-color: maroon;
              }

              .saphphire {
                background-color: rgb(40, 40, 197);
              }

              .emerald {
                background-color: green;
              }

              .platinum {
                background-color: white;
                border: black 1px solid;
                color: black;
              }

              .heartgold {
                background-color: gold;
                color: black;
              }

              .soulsilver {
                background-color: silver;
                color: black;
              }

              .black {
                background-color: black;
              }

              .white {
                background-color: white;
                border: black 1px solid;
                color: black;
              }

              .locations {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                .location-name {
                  background-color: rgb(244, 229, 163);
                  max-width: fit-content;
                  padding: 5px 10px;
                  color: black;
                  border-radius: 25px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  text-align: center;
                  font-weight: bold;
                  font-size: 16px;
                }
              }
            }
          }
        }

        .hide {
          display: none;
        }
      }

      .small {
        top: calc(100svh - 60px);
      }
    }
  }

  // NEW COLORS

  .light {
    background-color: rgb(254, 238, 217);
  }

  .kanto {
    background-color: $red !important;
  }

  .johto {
    background-color: $green !important;
  }

  .hoenn {
    background-color: $blue !important;
  }

  .sinnoh {
    background-color: rgb(176, 176, 176) !important;
  }

  .unova {
    background-color: rgb(181, 115, 238) !important;
  }

  .kalos {
    background-color: rgb(246, 118, 154) !important;
  }

  .alola {
    background-color: rgb(252, 223, 34) !important;
  }

  .galar {
    background-color: rgb(148, 238, 238) !important;
  }

  .paldea {
    background-color: $orange !important;
  }

  .normal {
    background-color: rgb(176, 176, 176) !important;
  }

  .fire {
    background-color: rgb(254, 177, 114) !important;
  }

  .fighting {
    background-color: $red !important;
  }

  .water {
    background-color: rgb(147, 177, 253) !important;
  }

  .flying {
    background-color: rgb(207, 177, 230) !important;
  }

  .grass {
    background-color: $green !important;
  }

  .poison {
    background-color: rgb(211, 118, 191) !important;
  }

  .electric {
    background-color: $yellow !important;
  }

  .ground {
    background-color: rgb(244, 197, 96) !important;
  }

  .psychic {
    background-color: rgb(246, 118, 154) !important;
  }

  .rock {
    background-color: rgb(200, 182, 81) !important;
  }

  .ice {
    background-color: rgb(148, 238, 238) !important;
  }

  .bug {
    background-color: rgb(170, 224, 112) !important;
  }

  .dragon {
    background-color: rgb(181, 115, 238) !important;
  }

  .ghost {
    background-color: rgb(166, 140, 190) !important;
  }

  .dark {
    background-color: rgb(161, 138, 108) !important;
  }

  .steel {
    background-color: rgb(33, 149, 149) !important;
  }

  .fairy {
    background-color: rgb(246, 173, 184) !important;
  }
}

@media (min-height: 700px) {
  .nav {
    .nav-items {
      font-size: 32px;
      span {
        vertical-align: top;
        font-size: 28px;
        padding-left: 10px;
      }
    }
  }

  .page {
    .searchbar {
      .enter {
        bottom: 9px;
        font-size: 24px;
      }

      .icon {
        bottom: 6px;
        font-size: 28px;
      }
      input {
        line-height: 55px;
        font-size: 22px;
        padding-left: 60px;
      }
    }

    .homepage-inner {
      padding-top: 180px;

      .home-image {
        width: 80svw;
        top: 100px;
      }

      h1 {
        font-size: 35px;
      }

      .lower {
        padding-top: 50px;

        .button-container {
          gap: 25px;

          .button {
            padding: 17px 30px;
            font-size: 14px;

            .button-icon {
              font-size: 26px;
            }
          }
        }
      }
    }

    .search-inner {
      .mini-button-container {
        gap: 7px;
        margin-top: 30px;

        .mini-button {
          height: 65px;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .unknown {
          display: none;
        }

        .shadow {
          display: none;
        }
      }
    }

    .pokedex-inner {
      .pokemon-list {
        top: 170px;
      }
  
      // .pokemon-list::-webkit-scrollbar {
      //   display: none;
      // }
    }

    .pokemon-inner {
      .upper {
        .img-container {
          top: 120px;
  
          .gradient {
            .circle {
              bottom: 100px;
            }
          }
  
          .pokemon-type {
            bottom: -20px;
          }
        }
      }
  
      .lower {
        padding-top: 80px;
  
        .navigate-buttons {
          .left,
          .right {
            font-size: 20px;
          }
        }
  
        .tab-content {
          padding-top: 70px;
  
          .container {
            .tabs {
              display: flex;
              width: 80%;
              margin: auto;
              list-style: none;
              position: relative;
              z-index: 5000000;
  
              li {
                font-size: 18px;
                padding: 15px 10px;
              }
            }
  
            .display-container {
              padding: 10px;
              margin-top: 10px;
  
              .wrapper {
                gap: 5px;
  
                div {
                  .stat-name {
                    font-size: 18px;
                  }
  
                  .progress-outter {
  
                    span {
                      position: absolute;
                      right: 10px;
                      font-size: 16px;
                    }
  
                    .progress-bar {
                      min-height: 22px;
                    }
                  }
                }
              }
  
              // .wrapper::-webkit-scrollbar {
              //   display: none;
              // }
  
              .about-pokemon {
                .pokemon-about-me-desc {
                  font-size: 16px;
                }
  
                .height-weight {
                  gap: 6px;
  
                  .height,
                  .weight,
                  .strong {
                    font-size: 18px;
                  }
  
                  .strong {
                    .strength-icon {
                      margin-left: 6px;
                      max-height: 30px;
                      max-width: 30px;
                    }
  
                    .strength-icon:first-of-type {
                      margin-left: 20px;
                    }
                  }
                }
              }
  
              .moves {
                .attack-card {
  
                  h3 {
                    font-size: 20px;
                  }
  
                  .attack-types,
                  .attack-stats {
                    .stat-headers,
                    .stat-values {
                      font-size: 20px;
                    }
  
                    .stat-headers {
                      font-size: 18px;
                      color: grey;
                    }
  
                    .attack-type {
                      margin-top: 35px;
                      margin-bottom: 35px;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
  
        .footer {
          .button-container {
            .footer-btn {
              font-size: 22px;
            }
          }
          .evolution-chain-container,
          .location-info {
            h1 {
              font-size: 30px;
            }
  
            .evo-pokemon {
              h2 {
                font-size: 22px;
              }
  
              img {
                height: 150px;
              }
  
              .type {
                font-size: 16px;
                padding: 3px;
              }
  
              span {
                font-size: 22px;
              }
            }
          }
          .location-info {
            .nope {
              margin-top: 30px;
              font-size: 25px;
            }
  
            .generation {
              h3 {
                font-size: 22px;
              }
  
              .location-container {
                .locations {
                  gap: 7px;
                }
              }
            }
          }
  
          .hide {
            display: none;
          }
        }
  
        .small {
          top: calc(100svh - 60px);
        }
      }
    }
  }
}
